@using HallManagementSystem.Models;
@model IEnumerable<StudentProvostSecretMsg>
@{
    ViewBag.Title = "AllSecretMessages";
    Layout = "~/Views/Shared/_StudentSecretMessage.cshtml";
}


    <h2 style="text-align:center;">Secret Message</h2>
    @{foreach (var item in Model)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>Title :It's the Victim's Post </span>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="pull-left">
                        Written By: I'm a victim 
                    </div>
                    <div class="pull-right">
                        Date & Time: @item.dateTime
                    </div>
                </div>

                <div class="row">
                    @item.secretmsg
                </div>

            </div>
        </div>
    }
    }
