
@{
    ViewBag.Title = "StudentPost";
    Layout = "~/Views/Shared/_StudentPost.cshtml";
}

<div class="col-md-4">

</div>
<div class="col-md-4">
    <h2>Notice </h2>
    @using (Html.BeginForm("StudentPost", "Main", FormMethod.Post, new { enctype = "multipart/form-data", name = "reg", id = "reg" }))
    {
        <form role="form">
            <div class="form-group">
                <label for="title">Title :</label>
                <input type="text" class="form-control" name="title" id="title">
            </div>
            <div class="form-group">
                <label for="post">Write Something:</label>
                @*<input type="text" class="form-control" name="provostmessage" id="provostmessage">*@
                <textarea class="form-control" rows="5" name="provostmessage" id="provostmessage"></textarea>
            </div>

           
            <button type="submit" class="btn btn-default">Post</button>
        </form>
    }
</div>
<div class="col-md-4">

</div>
